.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 3%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
.flexitem {
  display: flex;
  gap: 1rem;
}
.logo {
  img {
    max-width: 8rem;
    vertical-align: middle;
  }
}
.box {
  background: #555;
  color: #fff;
  padding: 0.5rem 1rem;
  transition: 0.2s;
  display: flex;
  align-items: center;
  &:active,
  &:hover {
    background: #222;
  }
  svg {
    margin-right: 0.5rem;
  }
}
